In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
from sklearn.preprocessing import MinMaxScaler,LabelEncoder

In [3]:
data_train=pd.read_csv("data/train.csv")
data_test=pd.read_csv("data/test.csv")

In [5]:
data_train.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [7]:
data_train["is_train"]=1
data_test["is_train"]=0
df=pd.concat([data_train,data_test],ignore_index=True)

In [8]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,is_train
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,4,3,4,4,5,5,25,18.0,neutral or dissatisfied,1
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,5,3,1,4,1,1,6.0,neutral or dissatisfied,1
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,4,3,4,4,4,5,0,0.0,satisfied,1
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,5,3,1,4,2,11,9.0,neutral or dissatisfied,1
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,4,4,3,3,3,0,0.0,satisfied,1

In [9]:
df.drop(columns={"Unnamed: 0","id"},axis=1,inplace=True)

In [10]:
df.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,is_train
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,4,3,4,4,5,5,25,18.0,neutral or dissatisfied,1
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,5,3,1,4,1,1,6.0,neutral or dissatisfied,1
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,4,3,4,4,4,5,0,0.0,satisfied,1
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,5,3,1,4,2,11,9.0,neutral or dissatisfied,1
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,4,4,3,3,3,0,0.0,satisfied,1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             129880 non-null  object
 1   Customer Type                      129880 non-null  object
 2   Age                                129880 non-null  int64
 3   Type of Travel                     129880 non-null  object
 4   Class                              129880 non-null  object
 5   Flight Distance                    129880 non-null  int64
 6   Inflight wifi service              129880 non-null  int64
 7   Departure/Arrival time convenient  129880 non-null  int64
 8   Ease of Online booking             129880 non-null  int64
 9   Gate location                      129880 non-null  int64
 10  Food and drink                     129880 non-null  int64
 11  Online boarding                    129880 non-null  int64
 12  Seat comfort                       129880 non-null  int64
 13  Inflight entertainment             129880 non-null  int64
 14  On-board service                   129880 non-null  int64
 15  Leg room service                   129880 non-null  int64
 16  Baggage handling                   129880 non-null  int64
 17  Checkin service                    129880 non-null  int64
 18  Inflight service                   129880 non-null  int64
 19  Cleanliness                        129880 non-null  int64
 20  Departure Delay in Minutes         129880 non-null  int64
 21  Arrival Delay in Minutes           129487 non-null  float64
 22  satisfaction                       129880 non-null  object
 23  is_train                           129880 non-null  int64
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [12]:
df.dtypes

Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                          object
is_train                               int64
dtype: object

In [13]:
df.isnull().sum()

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
is_train                               0
dtype: int64

In [14]:
df.isna().sum()

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
is_train                               0
dtype: int64

In [15]:
df['Arrival Delay in Minutes'] = df['Arrival Delay in Minutes'].fillna(df['Arrival Delay in Minutes'].mean())
df.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,is_train
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,4,3,4,4,5,5,25,18.0,neutral or dissatisfied,1
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,5,3,1,4,1,1,6.0,neutral or dissatisfied,1
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,4,3,4,4,4,5,0,0.0,satisfied,1
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,5,3,1,4,2,11,9.0,neutral or dissatisfied,1
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,4,4,3,3,3,0,0.0,satisfied,1

In [16]:
categorical_data=df.nunique() ==2
col=df.columns[categorical_data]
col

Index(['Gender', 'Customer Type', 'Type of Travel', 'satisfaction',
       'is_train'],
      dtype='object')

In [17]:
label_encoder=LabelEncoder()
for i in range(4):
    df[col[i]]=label_encoder.fit_transform(df[col[i]])

In [18]:
df.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,is_train
0,1,0,13,1,Eco Plus,460,3,4,3,1,...,4,3,4,4,5,5,25,18.0,0,1
1,1,1,25,0,Business,235,3,2,3,3,...,1,5,3,1,4,1,1,6.0,0,1
2,0,0,26,0,Business,1142,2,2,2,2,...,4,3,4,4,4,5,0,0.0,1,1
3,0,0,25,0,Business,562,2,5,5,5,...,2,5,3,1,4,2,11,9.0,0,1
4,1,0,61,0,Business,214,3,3,3,3,...,3,4,4,3,3,3,0,0.0,1,1

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             129880 non-null  int64
 1   Customer Type                      129880 non-null  int64
 2   Age                                129880 non-null  int64
 3   Type of Travel                     129880 non-null  int64
 4   Class                              129880 non-null  object
 5   Flight Distance                    129880 non-null  int64
 6   Inflight wifi service              129880 non-null  int64
 7   Departure/Arrival time convenient  129880 non-null  int64
 8   Ease of Online booking             129880 non-null  int64
 9   Gate location                      129880 non-null  int64
 10  Food and drink                     129880 non-null  int64
 11  Online boarding                    129880 non-null  int64
 12  Seat comfort                       129880 non-null  int64
 13  Inflight entertainment             129880 non-null  int64
 14  On-board service                   129880 non-null  int64
 15  Leg room service                   129880 non-null  int64
 16  Baggage handling                   129880 non-null  int64
 17  Checkin service                    129880 non-null  int64
 18  Inflight service                   129880 non-null  int64
 19  Cleanliness                        129880 non-null  int64
 20  Departure Delay in Minutes         129880 non-null  int64
 21  Arrival Delay in Minutes           129880 non-null  float64
 22  satisfaction                       129880 non-null  int64
 23  is_train                           129880 non-null  int64
dtypes: float64(1), int64(22), object(1)
memory usage: 23.8+ MB

In [20]:
df.shape

(129880, 24)

In [21]:
df=pd.get_dummies(df,columns=["Class"])

In [22]:
df.head()

,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,is_train,Class_Business,Class_Eco,Class_Eco Plus
0,1,0,13,1,460,3,4,3,1,5,...,4,5,5,25,18.0,0,1,False,False,True
1,1,1,25,0,235,3,2,3,3,1,...,1,4,1,1,6.0,0,1,True,False,False
2,0,0,26,0,1142,2,2,2,2,5,...,4,4,5,0,0.0,1,1,True,False,False
3,0,0,25,0,562,2,5,5,5,2,...,1,4,2,11,9.0,0,1,True,False,False
4,1,0,61,0,214,3,3,3,3,4,...,3,3,3,0,0.0,1,1,True,False,False

In [23]:
df.dtypes

Gender                                 int64
Customer Type                          int64
Age                                    int64
Type of Travel                         int64
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                           int64
is_train                               int64
Class_Business                          bool
Class_Eco                               bool
Class_Eco Plus                          bool
dtype: object

In [24]:
df.nunique()

Gender                                  2
Customer Type                           2
Age                                    75
Type of Travel                          2
Flight Distance                      3821
Inflight wifi service                   6
Departure/Arrival time convenient       6
Ease of Online booking                  6
Gate location                           6
Food and drink                          6
Online boarding                         6
Seat comfort                            6
Inflight entertainment                  6
On-board service                        6
Leg room service                        6
Baggage handling                        5
Checkin service                         6
Inflight service                        6
Cleanliness                             6
Departure Delay in Minutes            466
Arrival Delay in Minutes              473
satisfaction                            2
is_train                                2
Class_Business                          2
Class_Eco                               2
Class_Eco Plus                          2
dtype: int64

In [25]:
scaler_list=["Age","Flight Distance","Departure Delay in Minutes","Arrival Delay in Minutes"]

In [26]:
scaler=MinMaxScaler()
df[scaler_list]=scaler.fit_transform(df[scaler_list])

In [27]:
df.head(10)

,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,is_train,Class_Business,Class_Eco,Class_Eco Plus
0,1,0,0.076923,1,0.086632,3,4,3,1,5,...,4,5,5,0.015704,0.011364,0,1,False,False,True
1,1,1,0.230769,0,0.041195,3,2,3,3,1,...,1,4,1,0.000628,0.003788,0,1,True,False,False
2,0,0,0.243590,0,0.224354,2,2,2,2,5,...,4,4,5,0.000000,0.000000,1,1,True,False,False
3,0,0,0.230769,0,0.107229,2,5,5,5,2,...,1,4,2,0.006910,0.005682,0,1,True,False,False
4,1,0,0.692308,0,0.036955,3,3,3,3,4,...,3,3,3,0.000000,0.000000,1,1,True,False,False
5,0,0,0.243590,1,0.232027,3,4,2,1,1,...,4,4,1,0.000000,0.000000,0,1,False,True,False
6,1,0,0.512821,1,0.251414,2,4,2,3,2,...,3,5,2,0.005653,0.014520,0,1,False,True,False
7,0,0,0.576923,0,0.404685,4,3,4,4,5,...,4,5,4,0.002513,0.000000,1,1,True,False,False
8,0,0,0.435897,0,0.165994,1,2,2,2,4,...,4,1,2,0.000000,0.000000,0,1,True,False,False
9,1,1,0.166667,0,0.207997,3,3,3,4,2,...,4,3,2,0.000000,0.000000,0,1,False,True,False

In [28]:
df.describe()

,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,is_train
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,...,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,0.492616,0.183092,0.415743,0.309416,0.234111,2.728696,3.057599,2.756876,2.976925,3.204774,...,3.383023,3.350878,3.632114,3.306267,3.642193,3.286326,0.009242,0.009527,0.434463,0.800000
std,0.499947,0.386743,0.193838,0.462255,0.201424,1.329340,1.526741,1.401740,1.278520,1.329933,...,1.287099,1.316252,1.180025,1.266185,1.176669,1.313682,0.023914,0.024247,0.495688,0.400002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.256410,0.000000,0.077342,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.423077,0.000000,0.164176,3.000000,3.000000,3.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.564103,1.000000,0.345921,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,0.007538,0.008207,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
train_preprocessed=df[df["is_train"]==1]

In [30]:
test_preprocessed=df[df["is_train"]==0]

In [31]:
test_preprocessed.head()

,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,is_train,Class_Business,Class_Eco,Class_Eco Plus
103904,0,0,0.576923,0,0.026050,5,4,3,4,3,...,2,5,5,0.031407,0.027778,1,0,False,True,False
103905,0,0,0.371795,0,0.571890,1,1,3,1,5,...,3,4,5,0.000000,0.000000,1,0,True,False,False
103906,1,1,0.166667,0,0.032512,2,0,2,4,2,...,2,2,2,0.000000,0.000000,0,0,False,True,False
103907,1,0,0.474359,0,0.675687,0,0,0,2,3,...,3,1,4,0.000000,0.003788,1,0,True,False,False
103908,0,0,0.538462,0,0.232431,2,3,4,3,4,...,4,2,4,0.000000,0.012626,1,0,False,True,False

In [32]:
train_preprocessed.to_csv("data/train_preprocessed.csv",index=False)

In [33]:
test_preprocessed.to_csv("data/test_preprocessed.csv",index=False)